pre {
    border-radius: 10px;
    background: #ffffff;
}

.language-r, .hljs, .language-sh, bash{
    display: block;
    overflow-x: auto;
    padding: 2em;
    color: #8f8f8f;
    background: #f3f3f3;
    line-height: 1.30;
    border: 1px black;
    border-radius: 10px;
}


pre .copy-to-clipboard {
    right: -200000px;
}

code {
    background: #282C3432;
}
